body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  color: #999;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 20px 0;
}

a {
  color: #f90;
}

a, a:active, a:visited { color: #f90; }
a:hover { color: #f90; }

p {
  margin: 10px 0;
}

.address {
  margin: 0 0 20px 0;
}

.address .street {
  font-weight: bold;
}

.address p, .hours p {
  margin: 0;
}

.hours {
  margin: 0 0 20px 0;
}

.hours em {
  color: #777;
}

#container {
  margin: 10px auto;
  width: 423px;
  max-width: 100%;
}

#info {
  width: 200px;
}

#map {
  width: 423px;
  margin: 0 0 20px 0;
  max-width: 100%;
}

#map img {
  border: 2px solid #444;
  max-width: 100%;
}
